<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User pages</title>
    <!-- <link rel="stylesheet" type="text/css" href="user.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body onload = "showproducts();showusers();">
    <div class="navbar">
        <a href="/mainpage">Home</a>
        <a href="">Profile</a>
        <a id = "logout" href="/logout">Logout</a>
    </div>
	
	<div id= "bigdiv">
    <div id="banner">
        <img src="../image/Userbanner.jpg" class="bannerPic">
       <!--  <img src="Userimage/Userbanner.jpg" class="bannerPic"> -->
    </div>
    <!-- <div class="slider">
        <div class="slide" id="slide-1"> <img src="Userimage/Userbanner.jpg" class="bannerPic"></div>
        <div class="slide" id="slide-2"><img src="Userimage/Userbanner.jpg" class="bannerPic"></div>
    </div> -->
	
		 <form id="profileStats">
            <label><p> Change the Admin password</p></label>
            <input id='oldpw' type="text" placeholder="Old Password">
            <input id='newpw' type="text" placeholder="New Password">
            <input id='newpw1' type="text" placeholder="Re New Password">
            <input class="change" type="submit" value="Change">
		</form>
    

        <div id="profileInfo">
            <img class='img-circle' src="../image/icon.jpg" />
            <p><strong>Email: <span id = "email">{{email}}</span></strong></p>
            <p><strong>Description: <span>Admin of this website</span></strong></p>
            
        </div>
       

		<form id = "newpform" onsubmit="return false">
			<h2>Create New Product</h2>
			<p>
				<input id="productname" placeholder="Product Name" type="text">
			</p>
			<p>
				<input id="productdesc" placeholder="Product Description" type="text">
				
			</p>
			<p>
				<input id="productimg" placeholder="Product Image Url" type="text">
				
			</p>
			<p>
				<input type="submit" class="submit_button" placeholder="Creat New Product" onclick="addProduct()">
			</p>
			
			<p id="message"></p> 
		</form>
		

       <!--  <div id='Wishlist'> -->
            <table id='Wishtable' bgcolor="#ffecd2">
                <caption><Strong>Manage Products</Strong></caption>
                <tbody>
                    <tr>
                        <th>
                            Products
                        </th>
                        <th>
                            Delete Products
                        </th>
                    </tr>
                    

                </tbody>
            </table>
     <!--    </div> -->

        <div id='Comment'>
            <table id='comment_history' bgcolor="#ffecd2">
              <caption><Strong>Manage User Info</Strong></caption>
                <tbody>
                    <tr>
                        <th>
                            Users
                        </th>
                        
                        <th>
                            Disable
                        </th>
                    </tr>
                    <tr>
                        <td>
							<a> user</a>
                        </td>
                        
                        <td>
                            <button class="jump_button">Disable</button>
                        </td>
                    </tr>
                    

                </tbody>
            </table>
        </div>
		</div>

        <script type="text/javascript" src="./js/admin.js"></script>

</body>

</html>