

</html><!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <title>Product Page</title>

    <link rel="stylesheet" type="text/css" href="../css/product.css">
</head>

<body>
    <div class="navbar">
        <a href="/mainpage">Home</a>
        <a href="/profile">profile</a>
		<div id='login'>
		<a> Welcome: </a>
		<a href="/profile">{{email}}</a>
        
		</div>
    </div>
    <div id="banner">
        <img src="../image/techbanner.jpg" class="bannerPic">
    </div>


    <div id='productContainer'>
        <img id="productPic" src="{{url}}">

        <div id = "productNameContainer">
            <span id = "productNameContent"><strong>{{name}}</strong></span>
        </div>
        <div id = "productDescriptionContainer">
            <span id = "productDescriptionContent">{{description}}</span>
        </div>
        <div class="button">
            <button onclick='addToWishlist()' type="add">Add to wishlist</button>
        </div>

    </div>


    <form>
        <h3>Submit your review</h3>
        <div>
            <label for="title">Title </label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="content">Content </label>
            <textarea id="content" name="content"></textarea>
        </div>
        <div class="button">
            <button onclick='submitReview()' type="submit">Submit</button>
        </div>
    </form>




    </div>



    

</body>

</html>