<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User pages</title>
    <!-- <link rel="stylesheet" type="text/css" href="user.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/user.css">
</head>

<body onload="addThings()">

    <div class="navbar">
        <a href="/html/index.html">Home</a>
        <a href="/html/user.html">profile</a>
        <a id = "logout" href="/html/index.html">Logout</a>
    </div>
	
    <div id="banner">
        <img src="/image/Userbanner.jpg" class="bannerPic">
    </div>
     <form id="profileStats">
            <input id='oldpw' type="text" placeholder="Old Password">
            <input id='newpw' type="text" placeholder="New Password">
            <input id = "changePw"class="change" type="submit" value="Change Password">
            <br>
            <input id='Nickname' type="text" placeholder="Type new Nickname">
            <input id='Description' type="text" placeholder="Type the description">
            <input id = "changeprofile" type="submit" value="Change information">
    </form>
        <div id="profileInfo">
            <img class='img-circle' src="/image/icon.jpg" />
            <p ><strong>Nick Name: <span id = "email">{{email}}</span></strong></p>
            <p ><strong>Id: <span id = "id">{{id_new}}</span></strong></p>
            <p><strong>Description: <span>Want to build a gaming computer!</span></strong></p>
        </div>
       <!--  <div id='Wishlist'> -->
            <table id='Wishtable' bgcolor="#ffecd2">
                 <caption><Strong>Wish List</Strong></caption>
                <tbody>
                    <tr>
                        <th>
                            Wish product
                        </th>
                        <th>
                            detail
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/image/image2.jpg" alt="" border=3 height=100 width=100>
                        </td>
                        <td>
                            <button class="delete_button">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/image/image3.jpg" alt="" border=3 height=100 width=100>
                        </td>
                        <td>
                            <button class="delete_button">delete</button>
                        </td>
                    </tr>
                    <tr id = "clone">
                        <td>
                            <img src="/image/image1.jpg" alt="" border=3 height=100 width=100>
                        </td>
                        <td>
                            <button class="delete_button">delete onclick()</button>
                        </td>
                    </tr>

                </tbody>
            </table>
     <!--    </div> -->

        <div id='Comment'>
            <table id='comment_history' bgcolor="#ffecd2">
              <caption><Strong>Comment history</Strong></caption>
                <tbody>
                    <tr>
                        <th>
                            comment
                        </th>
                        <th>
                            Delete the Comment
                        </th>
                    </tr>
                    <tr id = "clone_comment">
                        <td >
                            <a>Show case</a>
                        </td>
                        <td>
                            <button class="delete_button">delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="/js/user.js"></script>

</body>

</html>