

body {
	background-image: url("../image/user.jpg");
	background-position: center;

	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
 	text-decoration: none;
 	color: black;
}


#logout{
	margin-right: 100px;
	float:right;
}
.bannerPic {
	display: block;
	width: 100%;
	flex-shrink: 0;
	display: block;
	/* Add properties below */
	height: 300px;
	
}


.check_button{
	width: 100px; 
	height: 40px; 
	border-width: 5px; 
	border-radius: 3px; 
	background: #9CECFB;
	cursor: pointer; 
	outline: none; 
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 

}


#productContainer {
	padding-bottom: 30px;
	/*margin-bottom: 100px;*/
}
#productPic {
	width: 200px;
	top: 230px;
	left: 100px;
	height: 200px;
	border: 3px solid white;
	margin-left: 200px;
	margin-top: 30px;
}


#productNameContainer {
	width: 600px;
	top:330px;
	left:420px;
	position: absolute;
	background-color: #333;
	border: 3px solid grey;
	font-size: 200%;
	/*text-indent: 50em;*/
	/*align: center;*/
	color: white;
}

#productNameContent {
	color: white;
	font-size: 120%;
	margin-left: 50px;
}

/*#productName text {
	padding-left: 200px;
	text-align: center;
}
*/

#productDescriptionContainer{
	width: 600px;
	top:380px;
	left:420px;
	height: 147px;
	position: absolute;
	background-color: #333;
	border: 3px solid grey;
	color: white;

}
#productDescriptionContent{
		color: white;
		padding-left: 50px;
		padding-top: 50px;
		margin-top: 100px;
		font-size: 120%;
		line-height: 130px;	
}

#title {
	widows: 1000px;
}


#generalContainer {
	width: 600px;
	left: 100px;
	border: 3px solid white;
	overflow: auto;
	min-height: 100px;
	margin-left: 200px;
	margin-top: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  background: #ddd;
  color: black;
}


.generalContainer form p{
	text-align: center;
}



form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 785px;
  /* To see the outline of the form */
  position: absolute;
  margin-left: 200px;
  padding: 1em;
  border: 3px solid white;
  background-color: #333;
  color: white;
  /*padding-top: 400px;*/
}
#profileInfo p{
	color: white;
	margin-left: 30px;
}

span{
	color: white;
}
#profileInfo{
	margin-top: 70px;
	margin-left: 250px;
	width: 295px;
	height: 367px;
	background-color: #333;
	border: 3px solid white;
}


#profileStats{
	margin-top: 70px;
	margin-left: 550px;
	width: 490px;
	height: 335px;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;

  width: 500px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 700px; /* same size as the label elements */
}


button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
  font-size: 16px;
}


table, td {
	border: 3px solid white;
}

a{
	color:white;
	z-index: 5;
}


#newpform {
	top: 750px;
	margin-left: 250px;
}

#newpform p {
	text-align: center;
}

#Wishtable {
	border:3px solid white;
	margin-top:30px;
	top: 780px;
	color: white;
	background-color: #333;
	position: absolute; 
	margin-left: 50px;
	width: 500px;
	text-align: center;
	margin-bottom: 50px;
}

#comment_history {
	border: 3px solid white;
	width: 650px;
	color: white;
	background-color: #333;
	position: absolute;
	top: 810px;
	margin-left: 650px;
	margin-bottom: 50px;
}

.jump_button {
	text-align: center;
	margin-left:56px;
}

.disableTd {
	max-width: 130px;
}


.img-circle{
	height: 200px;
	width: 200px;
	margin-left: 50px;
	margin-top: 20px;
}

/*#reset {
	margin-top:30px;
	color: white;
	top: 1100px;
	background-color: #333;
	position: absolute; 
	margin-left: 50px;
	border:3px solid white;
	width: 600px;
}*/


a{
	color:white;
	padding-left: 30px;
}

li {
	color:white;
	list-style: none;
	/*padding-bottom: 10px;*/
	padding-left: 15px;
	padding:10px;
}

ul {
	margin-left: 20px
}

td {
	max-width: 300px
}


.delete_button {
/*	margin-left: 700px;
	margin-left: .50em;
	font-size: 16px;
	margin-bottom: 10px;*/
	/*margin-left:50px;*/
	/*text-align: center;*/
	/*position: absolute;*/

}


.wrapper {
	overflow: auto;
	padding: 5px;
	margin-left: 200px;
	width: 833px;
}

.jump_button {
	margin-left:50px;
}




.comment_history {

}








