#header{
    margin-top :10%;
    size: 1000px;
	  width: 100%;
	  color: black;
	  clear: both;
    text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0;
    margin-left: 45%;

}

#navigation ul li{
  display:inline;  
  list-style:none;
  margin-left: 45%;
  width: 100px;
}

body {
   background-image: url("../image/user.jpg");
   background-position: center;
   background-color: #e6ecf0;
   margin: 0;
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   }


ul {
    padding-left:0;
}
li {
	list-style-type: none;
}

.label {
    margin-top :20%;
    margin-left: 45%;
	  font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 10px;
    margin-right:15px;
    text-align: right;
    clear: both;
    display: inline-block;
    text-shadow:#f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0
}

.text {
     margin-top :20%;
     margin-left: 45%;
	 border: 1px solid #000;
     margin-top: 10px;
}

#signup {
     margin-left: 45%;
    float: left;
}

#back {
    margin-left: 30px;
    float: left;
}






