
.gold{
    color: #FFBF00;
}

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-info{
    margin-top: 50px;
}

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}


.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}


.tab-pane{

    padding: 30px;
}

.box{
    height:200px;
    width:200px;
    overflow:hidden;
}
.mytab{
    padding: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}



#userstatus {
    font-size: 15px;
    margin-left:30%;

}