/*********************************************
    			Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold{
    color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-info{
    margin-top: 50px;
}

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}


.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}


.tab-pane{
    padding: 50px;
}

.box{
    height:200px;
    width:200px;
    overflow:hidden;
}
.mytab{
    padding: 50px;
}

#userstatus {
    font-size: 10px;
    margin-left:60%;

}