body {

	background-color: #e6ecf0;
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-family: Impact, sans-serif;
	letter-spacing: 2px;
}
a {
	text-decoration: none;
	color: black;
}

.topbar {
	text-align: center;
	border-bottom: double;
	margin: 5% 10% 5% 10%;
}

table,td,th {
	border-collapse: collapse;
	border: 1px solid black;
	max-width: 200px;
}

td, th {
	min-width: 150px;
}
#menu {
	position: absolute;
	top: 12%;
	right: 50%;
	text-align: center;

}

.img-circle{
	border-radius: 50%;
	border:solid white;
	width: 150px;
}

.student {
	padding: 5px;
	max-width: 200px;
	margin-top: 10px;

}

.student p {
	margin: 2px;
}


.student span {
	font-weight: bold;
}

#profileInfo {
	background-color: white;
	float:left;
	padding: 10px;
	margin-left:5%;
	width: 410px;
	min-height: 300px;

}


#timeline {
	position: absolute;
	border-radius: 10px;
	background-color: white;
	width: 600px;
	display: block;
	height: auto;
	margin-left: 550px;
}
.timelineHeader {
	border-bottom: 1px solid grey;
}

.timelineHeader ul {
	margin: 0px;
}

.timelineHeader ul li {
	padding: 10px;
	margin-right: 20px;
	font-size: 150%;
	font-weight: bold;
	display:inline-block;

}
#post {
	background-color: white;
	min-height: 100px;
	overflow: auto;
	border-bottom: 1px solid grey;
}

.postIconContainer {
	width: 80px;
	float: left;
}

.postIcon {
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.postContent {
	margin: 0px;
	margin-top: 20px;

}

.postContentPicture {
	max-width: 250px;
	margin-top: 10px;
	margin-bottom: 5px;
}


/* Screen larger 1280px
 *
 */

@media screen and (min-width: 1280px) {

	body {
		height: 100%;
	}

	.topbar {
		display: flex;
	}

	#menu {
		position: absolute;
		top: 12%;
		right: 50%;
		text-align: center;

	}

	.img-circle{
		border-radius: 50%;
		border:solid white;
		width: 150px;
	}

	#student {
		padding: 3px;
		max-width: 200px;
		margin-top: 10px;
	}

	.student p {
		margin: 2px;
	}

	.student span {
		font-weight: bold;
	}
	#profileInfo {
		background-color: white;
		float:left;
		padding: 10px;
		margin-left:5%;
		width: 410px;
		min-height: 300px;
	}

	#post {
		background-color: white;
		min-height: 100px;
		overflow: auto;
		border-bottom: 1px solid grey;

	}
	.postIconContainer {
		width: 80px;
		float: left;
	}
	.postIcon {
		margin-right: 10px;
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}
	.postContent {
		margin: 0px;
		margin-top: 20px;

	}

	#timeline {
		position: absolute;
		border-radius: 10px;
		background-color: white;
		width: 600px;
		display: block;
		height: auto;
		margin-left: 550px;
	}
	.timelineHeader {
		border-bottom: 1px solid grey;
	}

	.timelineHeader ul {
		margin: 0px;
	}

	.timelineHeader ul li {
		padding: 10px;
		margin-right: 20px;
		font-size: 150%;
		font-weight: bold;
		/* Add properties below */
		display:inline-block;

	}


}
