/*** Exercise 1: Twitter CSS ***/

/*
#### You should not have to change the given property values. ###
*/

/*** Completed body style below ***/

body {
	background-image: url("user.jpg");
	background-position: center;
	background-color: #e6ecf0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/*** Removes default style from links ***/
a {
 	text-decoration: none;
 	color: black;
}

/***********************************************
********** Add to the selectors below **********
************************************************/

/* You only need to add where it says "Add properties below" */


/*** Header and banner styles below ***/

#header {
	padding: 5px;
	background-color: white;
}

#userstatus {
	position: absloute;
	margin-top: 10px;
	margin-right: 10px;
	float:right;
	height: 30px;
}

#addnewproduct{
	margin-left: 160px;
	height: 300px;
	width: 500px;
}

#newpform {
	margin-left: 800px;
	margin-top:20px;
	margin-bottom: 20px;
	height: 240px;
	width: 220px;
	padding: 2em 4em 2em;
	box-shadow: 0 0 1em #222;
	border-radius: 2px;
	
	
}


#header ul {
	 height: 0px;
	 margin-right: 50px;
	 list-style: none; /* Gets rid of list bullet points */
	 float: right;

 }

#header ul li{
	list-style: none; /* Gets rid of list bullet points */
	margin-right: 20px;
	display: inline-block;
	text-align: center;

}

#header ul li a{
	font-size: 120%;
	color: slategrey;

}
/* Style the hover of navigator */
#header ul li a:hover {
	color: steelblue;

}

/* Style the search box inside the navigation bar */
#header input[type=text] {
	padding: 6px;
	float: right;
	margin-right: 430px;
	border-radius: 10px;
	width: 200px;

}

.bannerPic {
	display: block;
	width: 100%;
	flex-shrink: 0;

	/* Add properties below */
	height: 300px;
	
}

/*** Timeline styles below ***/
#profileStats {
	position: absolute;
	top: 550px;
	left: 20px;
	padding: 2em 2em 1em;
	box-shadow: 0 0 1em #222;
	border-radius: 2px;
	
	
}



#Wishtable {
	margin-top: 27px;
	margin-left: 690px;
	float:left;
}


.grey {
	color: grey;
}

.hashtag{
	color: #5088e9
}


.column img {
	width: 100%
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

td, th {
	min-width: 200px;
}

#profileInfo {
	float:left;
	/*padding: 10px;*/
	margin-left:50px;
	margin-top:10px;
	/*width: 410px;*/
	min-height: 300px;
}

#profileStats{
	margin-left:10px;
}



#title {
	text-align: center;
	display: inline-block
}
.img-circle{
		border-radius: 50%;
		border:solid white;
		width: 100px;
}


.jump_button{
  width: 100px; 
	height: 40px; 
	border-width: 5px; 
	border-radius: 3px; 
	background: #9CECFB;
	cursor: pointer; 
	outline: none; 
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 
}

.delete_button{
	 width: 100px; 
	height: 40px; 
	border-width: 5px; 
	border-radius: 3px; 
	background: #9CECFB;
	cursor: pointer; 
	outline: none; 
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 

}

.check_button{
	width: 100px; 
	height: 40px; 
	border-width: 5px; 
	border-radius: 3px; 
	background: #9CECFB;
	cursor: pointer; 
	outline: none; 
	font-family: Microsoft YaHei; 
	color: white; 
	font-size: 17px; 

}


.change{

}

#comment_history{
	margin-top: 20px;
}

#Comment{
	padding: 10px;
	width: 410px;
	min-height: 300px;
	margin-left: 10px;
	position: absolute;
/*	margin-top: 310px;*/

}

#video {
	margin-left: 220px;
	height: 300px;
	width: 500px;
}


#search_box{
	margin-left: 40%;
	margin-top: 15px;
	position:  absolute;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  background: #ddd;
  color: black;
}


.main {
  margin-top: 30px; 
}


.slider {

  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
   -webkit-overflow-scrolling: touch;
}
.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
   
  bottom: 0% ;
  width: 100% ;
}

#profile{
	margin-left: 90%;
	position:  absolute;
}

